.right-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-histories-container {
  padding: 10px 0px;
}

.history-placeholder {
  text-align: center;
  padding: 75px 0px 60px;
  color: gray;
  font-style: oblique;
}

.more-icon-contianer {
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px;
  font-size: 30px;
  mat-icon {
    font-size: 30px;
    width: auto !important;
    height: auto !important;
  }
}

.button-contianer {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
