.right-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-histories-container {
  padding: 10px 0px;
}

.history-placeholder {
  text-align: center;
  padding: 75px 0px 60px;
  color: gray;
  font-style: oblique;
}
